.contentGerericCard {
    border: 1px solid grey;
    border-radius: 10px;
    height: 60vh;
    width: 20vw;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .9;
    text-decoration: none;
}

.card {
    width: 100%;
}

.contentGerericCard:hover {
    color: black;
    opacity: 1;
    cursor: pointer;
}

.contentGerericCard span {
    font-size: 1.8rem;
}

.contentGerericCard p {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    transition: .1s ease-in-out;
}

.contentGerericCard a:hover {
    font-weight: bold;
    transition: .1s ease-in-out;
}

.instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
  
.linkedin {
    background:linear-gradient(45deg, #0077b5, #00a0dc, #6ed3f8);
}
  
.email {
    background: linear-gradient(45deg, #4285F4, #c5221f, #FBBC04, #34A853);
}

@media (max-width: 1000px) {
    .card {
        width: 100%;
    }
    
    .contentGerericCard {
        height: 50vh;
        width: 30vw;
    }
}

@media (max-width: 745px) {
    .contentGerericCard {
        height: 50vh;
        width: 30vw;
    }
}

@media (max-width: 540px) {
    .card {
        width: 50%;
    }
    
}


@media (max-width: 500px) {
    .contentGerericCard {
        width: 40vw;
        height: 50vh;
    }
    
    .card {
        width: 60%;
    }
}

@media (max-width: 400px) {
    .contentGerericCard {
        width: 55vw;
        height: 45vh;
    }
}
