
.msgErro {
    margin-bottom: 1rem;
}

.form {
    min-width: 47vw;
    width: 50vw;
}

.formButtons {
    display: flex;
    margin: auto;
    align-self: center;
    justify-content: center;
}

.contentButtons {
    display: flex;
    gap: 1rem;
}

@media (max-width: 500px) {
    .form {
        width: 80vw;
    }
}