.menu {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #05161a;
}

.sider {
    display: block;
}

@media (max-width: 420px) {
    .sider {
        display: none;
    }
}